@using GerenciadorTarefas.Data.Models;
@model TaskModel

@{
    ViewData["Title"] = "Create task page";
}

<h1 class="fs-2 text-center border-bottom border-dark mb-4">Cadastro de tarefa</h1>

<section class="p-4 container-fluid border border-info shadow rounded">
    <form asp-controller="Task" asp-action="Create" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-floating mb-3">
            <input type="text" id="floatingTitle" asp-for="Title" class="form-control" placeholder="Digite o título da tarefa">
            <label for="floatingTitle">Título</label>
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingDescription" asp-for="Description" style="height: 100px" placeholder="Digite a descrição da tarefa"></textarea>
            <label for="floatingDescription">Descrição</label>
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="submit" class="btn btn-primary shadow">Cadastrar</button>
            <button class ="btn btn-warning shadow" asp-asp-controller="Task" asp-action="Index">Voltar</button>
        </div>
    </form>
</section>