@using GerenciadorTarefas.Data.Models;
@using GerenciadorTarefas.Data.Models.utils;

@{
    ViewData["Title"] = "Notes Page";
}

<h1 class="fs-2 text-center border-bottom border-dark mb-3">Suas notas</h1>


<section class="container">
    <div class="row g-3">
        <div class="col">
            <div class="card shadow">
                <h5 class="card-header">Título da nota</h5>
                <div class="card-body">
                    <h5 class="card-title">Sub-título da nota</h5>
                    <p class="card-text">texto/descrição da nota</p>
                    <a href="#" class="btn btn-outline-info shadow">Abrir nota</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <h5 class="card-header">Título da nota</h5>
                <div class="card-body">
                    <h5 class="card-title">Sub-título da nota</h5>
                    <p class="card-text">texto/descrição da nota</p>
                    <a href="#" class="btn btn-outline-info shadow">Abrir nota</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <h5 class="card-header">Título da nota</h5>
                <div class="card-body">
                    <h5 class="card-title">Sub-título da nota</h5>
                    <p class="card-text">texto/descrição da nota</p>
                    <a href="#" class="btn btn-outline-info shadow">Abrir nota</a>
                </div>
            </div>
        </div>
    </div>
    
</section>