@using GerenciadorTarefas.Data.Models;
@using GerenciadorTarefas.Data.Models.utils;

@{
    ViewData["Title"] = "Notes Page";
}

<h1 class="fs-2 text-center border-bottom border-dark mb-3">Suas notas</h1>


<section class="container-fluid">

</section>